*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #0b0b14;
}

#root {
  width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}
